@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<nav class="nav-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <AuthorizeView>
            <Authorized>
                <li>
                    <span class="nav-item">Hello, @userName!</span>
                </li>
                <li>
                    <a href="logout">Logout</a>
                </li>
            </Authorized>
            <NotAuthorized>
                <li>
                    <a href="login">Login</a>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</nav>

@code {
    private string? userName;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        userName = user.Identity?.Name ?? "Guest";
    }
}
